-macro hdr()
	Dir {{id}}/{{pid}} :: {{ this.path | join('|') }}

%div
	-if level == 1
		%h1
			{{hdr()}}
	-elif level == 2
		%h2
			{{hdr()}}
	-elif level == 3
		%h3
			{{hdr()}}
	-elif level == 4
		%h4
			{{hdr()}}
	-elif level == 5
		%h5
			{{hdr()}}
	-else
		%h6
			{{hdr()}}

	%div id=c{{id}}
		&nbsp;

