-if update
	%div
		{{ item.path | join('/') }}
		::
		%span id={{id}}
			-if 'value' in item
				{{ item.value }}
			-else
				?

-else
	%span id={{id}}
		-if 'value' in item
			{{ item.value }}
		-else
			?
