<!doctype html>
<!-- -from "_help.haml" import show_menu-->
%html
	%head
		%meta charset="utf-8"
		%meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
		%meta http-equiv="x-ua-compatible" content="ie=edge"

		%title
			-block title
				=title or "MoaT"
		%link rel="icon" href="{{ 'moat.ico'|static }}" type="image/vnd.microsoft.icon"
		%link rel="shortcut icon" href="{{ 'moat.ico'|static }}" type="image/vnd.microsoft.icon"
		-block styles
			%link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"
			%link rel="stylesheet" type="text/css" href="{{ 'style.css'|static }}"
		-block scripts
			%script type="text/javascript"
				window.moat = {};
				window.moat.ws_url = "{{ ws_url }}";

			%script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"
			%script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"
			%script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"

	%body

		%div#page
			%div#info
				-block alert
					&nbsp;
			-block body
				This is where content should happen.

