*.swp
*.swo
*.swn
*.swm
*.pyc
*-pyo
test/real
test/onewire2
onewire_params
test/interactive/onewire
temp
python-build-stamp-*
debian/homevent
debian/*.substvars
debian/*.debhelper
debian/files
build
dist
homevent.egg-info
homevent/modules
*-stamp
