*.swp
*.swo
*.swn
*.swm
*.pyc
*-pyo
test/real
test/onewire2
onewire_params
test/interactive/onewire
temp
python-build-stamp-*
build
dist
homevent.egg-info
homevent/modules
*-stamp
*.o
fs20/audio/reader
fs20/audio/writer
fs20/avr/*.elf
fs20/avr/*.lst
fs20/avr/*.bin
*.bin
*.elf
*.lst
*.map
homevent/gevent_rpyc.py
