Source: homevent
Section: python
Priority: extra
XS-Python-Version: 2.6
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Build-Depends: debhelper (>= 5), python2.6-dev, python-setuptools, python-twisted-core, python-twisted-conch, libglib2.0-dev (>= 2.14), portaudio19-dev, avr-libc, gcc-avr
Build-Depends-Indep: python-support
Standards-Version: 3.7.2

Package: homevent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-twisted-core
Recommends: pulseaudio (>= 0.9.7), python-twisted-conch, python-rrdtool
Description: A scripted event-based monitoring and control system
 HomEvenT is a flexible, scripted, network-aware event handler.
 It can monitor and control quite a few external buses and peripherals,
 including 1wire and FS20. It can write values to RRD files and allows
 access to its command interpreter with SSH.
 .
 The author uses it as a central hub for home automation.
