Source: homevent
Section: python
Priority: extra
XS-Python-Version: 2.4, 2.5
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Build-Depends: debhelper (>= 5), python-dev, python-setuptools
Build-Depends-Indep: python-support
Standards-Version: 3.7.2

Package: homevent
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-twisted-core
Description: A scripted event-based system for home automation et al.
 HomEvenT is a flexible, scripted, network-aware event handler.
 .
 The author uses it as a central hub for home automation.
