[Unit]
Description=Home Event monitor
ConditionPathExists=/etc/moat/%i.moat
After=rabbitmq-server.service

[Service]
ExecStart=/usr/sbin/moatd /etc/moat/%i.moat
Type=simple
RestartSec=15
Restart=always
WorkingDirectory=/etc/moat
User=moat
Group=moat

[Install]
WantedBy=moat.target
