#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

cleanbuilddir::
	rm -f $(CURDIR)/config.*.cdbs-orig

install/homevent::
	mkdir -p debian/homevent/usr/sbin
	mv debian/homevent/usr/bin/daemon.py debian/homevent/usr/sbin/homevent
	install sitecustomize.py debian/homevent/etc/homevent
	install daemon.he debian/homevent/etc/homevent
