#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

cleanbuilddir::
	rm -f $(CURDIR)/config.*.cdbs-orig

#makebuilddir::
#	/usr/bin/docbook-to-man debian/gnome-sudoku.sgml > debian/gnome-sudoku.1

