{% haml %}
-extends "base.jinja"

-block title
        Login

-block content

    -if form.errors
        %p
            Your username and password didn't match. Please try again.

    %form method="post" action=""
        -csrf_token
        %table
            %tr
                %td
                        =form.username.label_tag()|safe
                %td
                        =form.username|safe
            %tr
                %td
                        =form.password.label_tag()|safe
                %td
                        =form.password|safe
            %input type="submit" value="login"
            %input type="hidden" name="next" value="{{ next }}"

{% endhaml %}
